*,
::after,
::before {
    box-sizing: border-box;
}


/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html {
    font-size: 100%;
}


/*16px*/

:root {
    --primary-theme-color: #0D1117;
    --secondary-theme-color: #ffffff;
    /* colors */
    --primary-100: #e2e0ff;
    --primary-200: #c1beff;
    --primary-300: #a29dff;
    --primary-400: #837dff;
    --primary-500: #645cff;
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: #141233;
    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    /* rest of the colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    /* fonts  */
    --headingFont: 'Roboto', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --smallText: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    background: #0D1117;
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text-small {
    font-size: var(--smallText);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}


/* buttons */


/* === removing default button style ===*/

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}


/* button styling */

.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}


/* this is the text, when you hover on button */

.actual-text {
    color: #FFFFFF;
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}


/* hover */

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.btn {
    cursor: pointer;
    color: var(--white);
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transtion);
    text-transform: capitalize;
    display: inline-block;
}

.btn:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
}

.btn-hipster {
    color: var(--primary-500);
    background: var(--primary-200);
}

.btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
}

.btn-block {
    width: 100%;
}


/* alerts */

.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
}

.alert-danger {
    color: var(--red-dark);
    background: var(--red-light);
}

.alert-success {
    color: var(--green-dark);
    background: var(--green-light);
}


/* form */

.form {
    width: 90vw;
    max-width: var(--fixed-width);
    background: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
}

.form-label {
    display: block;
    font-size: var(--smallText);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background: var(--backgroundColor);
    border: 1px solid var(--grey-200);
    color: #0D1117;
}

.form-row {
    margin-bottom: 1rem;
}

.form-textarea {
    height: 7rem;
}

::placeholder {
    font-family: inherit;
    color: var(--grey-400);
}

.form-alert {
    color: var(--red-dark);
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
}


/* alert */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid var(--grey-400);
    border-radius: 50%;
    border-top-color: var(--primary-500);
    animation: spinner 0.6s linear infinite;
}


/* title */

.title {
    text-align: center;
}

.title-underline {
    background: var(--primary-500);
    width: 7rem;
    height: 0.25rem;
    margin: 0 auto;
    margin-top: -1rem;
}


/*
=============== 
Navbar
===============
*/

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center {
    width: 90vw;
    max-width: var(--max-width);
    border-bottom: 3px solid #FFFFFF;
}

.nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-header img {
    width: 200px;
}

.nav-btn {
    padding: 0.15rem 0.75rem;
}

.nav-btn i {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    margin-top: 35px;
    margin-left: 30px;
}

.show-links {
    height: 310px;
}

.nav-link {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--grey-500);
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--primary-500);
}

.contact-link a {
    padding: 0.15rem 1rem;
}

@media screen and (min-width: 892px) {
    .nav-btn {
        display: none;
    }
    .nav-bar {
        height: 6rem;
    }
    .nav-center {
        display: flex;
        align-items: center;
    }
    .nav-header {
        height: auto;
        margin: 2rem;
    }
    .nav-links {
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .nav-link {
        padding: 0;
        border-top: none;
        margin-right: 10rem;
        font-size: 1.1rem;
    }
    .contact-link {
        display: flex;
        margin-left: auto;
    }
}


/* start main */

.page {
    min-width: 90vh;
    max-width: var(--max-width);
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
    margin: 0 auto;
}


/* end main */


/* start footer */

.page-footer {
    background: var(--black);
    color: var(--white);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-footer p {
    margin-bottom: 0;
}

.footer-logo,
.page-footer a {
    color: var(--primary-500);
}


/* end footer */


/* start hero */

.hero {
    height: 40vh;
    background: url(wallpaperflare.com_wallpaper\ \(46\).jpg) center/cover no-repeat;
    border-radius: var(--borderRadius);
    margin-bottom: 2rem;
    position: relative;
    margin-top: 30px;
}

.hero-container {
    margin-top: 10px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    justify-content: center;
}

text-align: center;
    color: #FFFFFF;
.hero-text {
}

@media screen and (min-width: 768px) {
    .hero-text h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
}


/* end hero */


/* start about ai */

.about-ai {
    padding: 20px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    border: 8px solid #FFFFFF;
    border-radius: 60px;
}

.about-text {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 10px auto 10px 10px;
    flex-wrap: wrap;
    font-weight: var(--bodyFont);
    font-size: 16px;
}

.about-photos {
    display: flex;
    justify-content: flex-end;
    margin: 10px auto 10px;
}


/* end about ai */


/* start recipes */

.recipes-container {
    display: grid;
    gap: 2rem 1rem;
}

.tags-container {
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.recipes-list {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
}

.tags-container h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tags-list a {
    display: block;
    text-transform: capitalize;
    color: var(--grey-500);
    transition: var(--transition);
}

.tags-list a:hover {
    color: var(--primary-500);
}

.recipe {
    display: block;
}

.recipe-img {
    height: 15rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
}

.recipe h5 {
    color: var(--grey-700);
    line-height: 1;
    margin-bottom: 0;
}

.recipe p {
    margin-bottom: 0;
    line-height: 1;
    margin-top: 0.5rem;
    color: var(--grey-500);
    letter-spacing: var(--letterSpacing);
}

@media screen and (min-width:576px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr;
    }
    .recipe-img {
        height: 10rem;
    }
}

@media screen and (min-width:992px) {
    .recipes-container {
        grid-template-columns: 200px 1fr;
    }
    .recipe p {
        font-size: 0.85rem;
    }
    .tags-container {
        order: 0;
    }
    .tags-list {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:1200px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .recipe h5 {
        font-size: 1.15rem;
    }
}


/* end recipes */


/* start error */

.error-page {
    text-align: center;
    padding-top: 5rem;
}

.error-page h1 {
    font-size: 9em;
    text-transform: capitalize;
}


/* end error */


/* start about */

.about-page h2 {
    text-transform: none;
    font-weight: bold;
}

.about-page {
    display: grid;
    gap: 2rem 4rem;
    padding-bottom: 3rem;
}

.about-img {
    border-radius: var(--borderRadius);
    height: 300px;
}

@media screen and (min-width:992px) {
    .about-page {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        align-items: center;
    }
    .about-img {
        height: 100%;
    }
}

.feature-title {
    text-align: center;
}


/* end about */


/* start contact */

.contact-form {
    width: 100%;
    margin: 0;
}

.contact-container {
    display: grid;
    gap: 2rem 3rem;
    padding-bottom: 3rem;
}

@media screen and (min-width:992px) {
    .contact-container {
        grid-template-columns: 1fr 450px;
        align-items: center;
    }
}


/* end contact */


/* start tags */

.tags-wrapper {
    display: grid;
    gap: 2rem;
    padding-bottom: 3rem;
}

.tag {
    background: var(--grey-500);
    border-radius: var(--borderRadius);
    text-align: center;
    color: var(--white);
    transition: var(--transition);
    padding: 0.75rem 0;
}

.tag:hover {
    background-color: var(--primary-500);
}

.tag h5,
.tag p {
    margin-bottom: 0;
}

.tag h5 {
    font-weight: 600;
}

@media screen and (min-width:576px) {
    .tags-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:992px) {
    .tags-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* end tags */


/* start single recipe page */

.recipe-hero {
    display: grid;
    gap: 3rem;
}

.recipe-hero-img {
    height: 300px;
    border-radius: var(--borderRadius);
}

.recipe-info p {
    color: var(--grey-600);
}

.recipe-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* end single recipe page */

@keyframes square-animation {
    0% {
        left: 0;
        top: 0;
    }
    10.5% {
        left: 0;
        top: 0;
    }
    12.5% {
        left: 32px;
        top: 0;
    }
    23% {
        left: 32px;
        top: 0;
    }
    25% {
        left: 64px;
        top: 0;
    }
    35.5% {
        left: 64px;
        top: 0;
    }
    37.5% {
        left: 64px;
        top: 32px;
    }
    48% {
        left: 64px;
        top: 32px;
    }
    50% {
        left: 32px;
        top: 32px;
    }
    60.5% {
        left: 32px;
        top: 32px;
    }
    62.5% {
        left: 32px;
        top: 64px;
    }
    73% {
        left: 32px;
        top: 64px;
    }
    75% {
        left: 0;
        top: 64px;
    }
    85.5% {
        left: 0;
        top: 64px;
    }
    87.5% {
        left: 0;
        top: 32px;
    }
    98% {
        left: 0;
        top: 32px;
    }
    100% {
        left: 0;
        top: 0;
    }
}

.loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
    margin-left: auto;
    margin-right: auto;
}

.loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
    animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
    animation-delay: -10s;
}


/* 
##################### error code ##########################
*/


/* button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

 */

.form-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vh;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.form-center {
    display: table;
    align-items: center;
    justify-content: center;
    border: 4px solid#FFFFFF;
    border-radius: 15px;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.form-center p {
    color: #FFFFFF;
    position: relative;
    top: 20px;
    /* right: 100px; */
}

.form-center p:nth-of-type(3) {
    font-size: 10px;
    position: relative;
    bottom: 500px;
}

.login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-email {
    width: 90%;
    margin: 1px auto 5PX;
    color: black;
}

.form-password {
    width: 90%;
    margin: auto auto;
}

.form-submit {
    width: 75%;
    margin: 10px auto 5px;
    color: var(--animation-color);
    
}

.roadmap-table {
    padding: 20px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 596px;
    border: 8px solid #FFFFFF;
    border-radius: 10px;
}

.roadmap-table h3 {
    margin-top: -80px;
}

.roadmap-photo {
    margin-right: -20px;
}

.container-link {
    width: 100%;
    margin-bottom: -70px;
}

.container-link li {
    margin-bottom: 15px;
    list-style: circle;
}

.container-link ul li a {
    color: #FFFFFF;
}

.container-link ul li :hover {
    color: var(--primary-300);
}

.all-steps {
    padding-left: 20px;
    margin: 20px auto;
}

.steps-container {
    margin: auto auto;
    padding: 15px;
    border: 5px solid #0f1722;
    border-radius: 15px;
}

.main-heading {
    text-align: center;
    color: #FFFFFF;
    background-color: #0f1722;
    padding: 20px;
    margin-bottom: 20px;
}

.main-heading h2 {
    margin-top: auto;
    margin-bottom: auto;
}

.steps-text {
    text-align: left;
    color: #FFFFFF;
    font-size: 17px;
}

.steps-text p {
    margin-bottom: 5px;
}

.steps-text h4 {
    text-align: center;
    color: #FFFFFF;
    background-color: #0f1722;
    padding: 20px;
    margin-bottom: 20px;
}

.steps-text ul li a:hover {
    color: #2f79bb;
}

.nav-links img {
    width: 20px;
    background-color: #B9B9BB;
    cursor: pointer;
}

.math-ul {
    list-style: circle;
    margin-left: 35px;
}

.step-two p {
    margin-left: 15px;
}

.step-two ul li a {
    color: #014683;
}

.step-three a {
    color: #014683;
}

.step-six {
    list-style: circle;
    margin-left: 35px;
}

#Conclusion .steps-container {
    border-color: transparent;
}

.Conclusion h2 {
    text-align: left;
}

#last-one .steps-container {
    border-color: transparent;
}

#last-one .main-heading {
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    padding: 20px;
    margin-bottom: 20px;
}

#last-one a {
    color: #014683;
}

#last-one a :hover {
    color: #2f79bb;
}


/* .up-button {
  /* background-color: red; */


/* border: none; */


/* color: white; */


/* width: 40px; */


/* height: 40px; */


/* font-weight: bold; */


/* font-size: 20px; */


/* text-transform: capitalize; */


/* padding: 6px; */


/* border-radius: 5px; */


/* display: none;
  cursor: pointer; */


/* }  */

.up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    width: 200px;
    height: 73px;
    padding: 0;
    z-index: 2;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: 100%;
    cursor: pointer;
    background-color: transparent;
    transform: translateY(8px)
}

.up-button::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0 0 0 white;
    transition: all 2s ease;
}

.up-button:hover::after {
    box-shadow: 0px -13px 56px 12px #ffffffa6;
}

.up-button span {
    position: absolute;
    width: 100%;
    font-size: 15px;
    font-weight: 100;
    left: 50%;
    top: 39%;
    letter-spacing: 3px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #ffffff;
    transition: all 2s ease;
}

.up-button:hover span {
    color: white;
}

.up-button::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
}

.up-button:hover::before {
    width: 100%;
}